<div class="row pb-1">
    <div class="col-12 card">
        <div class="card-header d-flex justify-content-between">
            <span>{{post.title}}</span>
            <span>{{post.date}}</span>
        </div>
        <div class="card-body">
            {{post.body}}
        </div>
    </div>
</div>
<br />
{{#if loggedIn}}
<form id="leaveComment">
    <div class="row d-flex justify-content-center">
        <div class="col-10 ">
            <div>
                <h2>Enter Comment</h2>
            </div>
            <input type="text" class="w-100 pb-5" id="contentInput" placeholder="Enter the post contents here...">
        </div>
    </div>
    <br />
    <div class="row d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
            <button class="btn btn-lg btn-success px-3" id="submitComment" type="submit" data-id="{{post.id}}">Leave Comment</button>
        </div>
    </div>
</form>
<div class="row">
    <div class="col" style="color:red" id="failedComment" hidden="true">Failed to leave comment</div>
</div>
{{/if}}
<br />
<div class="row">
    <h3>Others Users Comments</h3>
</div>
{{#each comments as |comment|}}
<div class="row">
    <div class="col-9">
        {{comment.user}}
    </div>
    <div class="col-3 d-flex justify-content-end">
        {{comment.date}}
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-9">
        {{comment.body}}
    </div>
</div>
{{/each}}
<script src="../js/comment.js"></script>
