<div class="container">
    <div class="row pb-3">
        <div class="col">
            <h1>Hello {{user}}</h1>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a href="/CreatePost" class="btn btn-primary btn-lg">+ Create Post</a>
        </div>
    </div>
    {{#each posts as |post|}}
    <div class="row pb-1">
        <div class="col-12 card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    {{post.title}}
                    <button class="btn btn-info" onclick="updatePost({{id}})">Update</button>
                    <button class="btn btn-danger" onclick="deleteConfirm({{post.id}}, '{{post.title}}')" 
                        data-bs-toggle='modal' 
                        data-bs-target='#deleteModal'>
                        Delete
                    </button>
                </div>
                <span>{{post.date}}</span>
            </div>
            <div class="card-body">
                {{post.body}}
            </div>
        </div>
    </div>
    <br />
    {{/each}}
</div>
<div>
    <div class="modal" tabindex="-1" id="deleteModal" data-delete-id="0">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Confirmation</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <span id="modalInfo"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="deleteConfirm">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/dashboard.js"></script>
</div>